---
layout: default
---

<div class="home">

  <div class="home_img">
        <img src="{{ "/assets/img/qgis_server_getcapabilities.png" | relative_url }}" />
  </div>
  <div class="home_content">
    <p>Materiale di supporto al corso di QGIS-Server.</p>
    <p>A questo <a href="{{ '/assets/demodata.zip' | relative_url }}">link</a> i dati e il materiale utilizzato nel corso.</p>
    <p>Tutto il materiale incluso in queste pagine è distribuito con licenza <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/it/legalcode" target="_blank">Creative Commons BY-NC-SA</a></p>
  </div>


</div>
